/* .container{
    border: 1px solid red;
}
.topic{
    border: 1px solid blue;
}
.txt{
    border: 1px solid green;
}
.inputbox{
    border: 1px solid yellow;
}
.btn{
    border: 1px solid pink;
} */

.operatezone{
    display:flex;
    gap: 10px;
}